.dashboard {
  height: 100vh;
  background-color: #e3eeee;
}

.sidebar {
  width: 220px;
  background-color: #7d7c7c;
  border-radius: 0 10px 10px 0;
}

.sidebar ul li {
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li:hover {
  color: #ffc107;
}

.main-content {
  background-color: #f5f5f5;
  border-radius: 10px;
}
