.doctor-dashboard {
  height: 100vh;
  background-color: #e7f0f2;
}

.sidebar {
  width: 220px;
  background-color: #6a6b6e;
  border-radius: 0 10px 10px 0;
}

.sidebar ul li {
  cursor: pointer;
  transition: 0.3s;
}

.sidebar ul li:hover {
  color: #ffc107;
}

.main-content {
  background-color: #fdfdfd;
  border-radius: 10px;
}
